<h2 class='search_reso'>Search Reservations</h2>

<%= form_tag  restaurants_path, method: "get" do |f| %>
  <div class="field">
    <%= label_tag :date %><br/>
    <%= date_field_tag :date %><br/>

  </div>
  <div class="field">
    <%= label_tag :time %><br/>
    <%= select_tag :time, options_for_select([['12 AM', 0], ['1 AM', 1], ['2 AM', 2], ['3 AM', 3], ['4 AM', 4], ['5 AM', 5], ['6 AM', 6], ['7 AM', 7], ['8 AM', 8], ['9 AM', 9], ['10 AM', 10], ['11 AM', 11], ['12 PM', 12], ['1 PM', 13], ['2 PM', 14], ['3 PM', 15], ['4 PM', 16], ['5 PM', 17], ['6 PM', 18], ['7 PM', 19], ['8 PM', 20], ['9 PM', 21], ['10 PM', 22], ['11 PM', 23]], 12) %>

  </div>
  <div class="field">
    <%= label_tag :party_size %><br/>
    <%= number_field_tag :party_size, 1, min: 1 %>
  </div>
  <div class="actions"><%= submit_tag "Search!" %></div>
<% end %>
